#!/bin/sh

#1.) Copy this in the folder where you will do the analysis
#2.) Update the variables below according to your file names

#Add the variables here
#This folder must exist
#mkdir /scratch/users/sprehei1@jhu.edu/tmp
#add that folder to the TMPDIR variable
#has to be the full path (maybe with pwd -P to see true path). Don't use relative path
export TMPDIR='/scratch/users/sprehei1@jhu.edu/tmp'

#Define the table and reps, either single run DADA2 output, or merged table
TABLE=combined_dada2.qza
REPS=combined_reps.qza

#add path to the db folder of the git
MOCK=/path/to/db/mock_only.fa

#Output file name for everything but diversity core metrics
PREFIX=mock_analysis

#Adjust the PATH so it can find your file (be careful if you do this on the command lin)
#It will add this path anytime you source this file
#While it should work, repeatedly sourcing (in the script) wouldn't be ideal
#Change the path to be the full path of the git folder scripts
#KEEP THE LAST :$PATH AT THE END OF THE FOLLWOING LINE, OR YOU WON'T BE ABLE TO FIND ANY COMMANDS!
export PATH="/path/to/git/folder/scripts:$PATH"

echo "Variables imported"
