#!/bin/sh

#1.) Copy this in the folder where you will do the analysis
#2.) Update the variables below according to your file names

#Add the variables here
#This folder must exist
#mkdir /scratch/users/sprehei1@jhu.edu/tmp
#add that folder to the TMPDIR variable
#has to be the full path (maybe with pwd -P to see true path). Don't use relative path
export TMPDIR='/scratch/users/sprehei1@jhu.edu/tmp'

#Define the table and reps, either single run DADA2 output, or merged table
TABLE=combined_dada2.qza
REPS=combined_reps.qza

#Look at the sequencing depth of the samples
#Choose the most appropriate depth
#Either the lowest count sample or 5000 (minimum) which ever is higher
#Find the coverage with the 
#qiime feature-table summarize
DEPTH=5000
#Define prefix for core diversity metrics
CORE=core-metrics-single
#Name of Keimee checked, qiime2 validated mapping file (combined for multiple)
METADATA=sample-metadata.tsv 
#Output file name for everything but diversity core metrics
PREFIX=emp_single_MPA

echo "Variables imported"


